## Assignment 7, Question 2

written by: Gaurav Bhardwaj

In [17]:
SQL_SOURCE = 'https://gauravbhardwaj.carto.com/api/v2/sql?q='
try:
    # Python 3 packages
    from urllib.parse import urlparse, urlencode
    from urllib.request import urlopen, Request
    from urllib.error import HTTPError
except ImportError:
    # Python 2 packages
    from urlparse import urlparse
    from urllib import urlencode
    from urllib2 import urlopen, Request, HTTPError
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO
import ast
import pandas as pd
from __future__ import print_function

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    try:
        data = urllib.urlencode({'format': format, 'q': query})
    except:
        data= urllib.parse.urlencode({'format': format, 'q': query}).encode('utf-8')
    try:
        response = urlopen(source, data)
    except HTTPError:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return pd.read_csv(response)

In [2]:
test = '''
SELECT *
FROM citibike
'''

In [18]:
queryCartoDB(test)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
10,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
11,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
12,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
13,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
14,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
15,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
16,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
17,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
18,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
19,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
20,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
21,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
22,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
23,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
24,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
25,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
26,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
27,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
28,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
29,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
46171,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
46172,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
46173,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
46174,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
46175,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
46176,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46177,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46178,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
46179,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
46180,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46181,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46182,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
46183,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
46184,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46185,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46186,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
46187,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
46188,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
46189,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46190,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46191,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
46192,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
46193,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
46194,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
46195,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
46196,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
46197,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
46198,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
46199,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

## Task_1

• Sort data by start_station_id, tripduration

    - Only checking trips with duration <= 3 hours
    
• Only show the top/last 10 records (aka head and tail in SQL)

• List all unique start_station_id values

• Aggregation functions:

    - Count the number of trips (aka wc -l in SQL)
    - Find the average/min/max trip duration

In [4]:
### Sort data by start_station_id, tripduration
### - Only checking trips with duration <= 3 hours
sql_1_1= '''
SELECT * FROM citibike
where tripduration <= 10800 order by start_station_id , tripduration 
'''
queryCartoDB(sql_1_1)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,8998,NaN,NaN,2,1980.0,19039,72,72,107,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,40759,NaN,NaN,2,1959.0,18131,72,72,189,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
2,40757,NaN,NaN,1,1995.0,19729,72,72,229,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
3,21948,NaN,NaN,1,1970.0,16879,478,72,248,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-05 06:24:00+00,2015-02-05 06:19:00+00
4,43099,NaN,NaN,1,1983.0,15277,515,72,252,Subscriber,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 15:47:00+00,2015-02-07 15:43:00+00
5,32566,NaN,NaN,1,1971.0,18492,478,72,261,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
6,15971,NaN,NaN,1,1961.0,19216,478,72,276,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-04 12:51:00+00,2015-02-04 12:46:00+00
7,41355,NaN,NaN,1,1974.0,21588,447,72,283,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 12:15:00+00,2015-02-07 12:10:00+00
8,42074,NaN,NaN,1,1978.0,19124,514,72,288,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-07 13:54:00+00,2015-02-07 13:50:00+00
9,2282,NaN,NaN,1,1974.0,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00
10,44674,NaN,NaN,1,1983.0,18198,526,72,304,Subscriber,E 33 St & 5 Ave,W 52 St & 11 Ave,-73.984907,40.747659,-73.993929,40.767272,2015-02-07 18:36:00+00,2015-02-07 18:31:00+00
11,2142,NaN,NaN,1,1982.0,19672,478,72,339,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-01 13:00:00+00,2015-02-01 12:54:00+00
12,649,NaN,NaN,2,1986.0,14692,2021,72,344,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-01 09:54:00+00,2015-02-01 09:49:00+00
13,44789,NaN,NaN,1,1983.0,17669,447,72,345,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 18:51:00+00,2015-02-07 18:46:00+00
14,9494,NaN,NaN,1,1961.0,16754,478,72,348,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-03 13:06:00+00,2015-02-03 13:01:00+00
15,42446,NaN,NaN,1,1983.0,21114,500,72,359,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-07 14:39:00+00,2015-02-07 14:33:00+00
16,41465,NaN,NaN,1,1970.0,19729,515,72,366,Subscriber,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 12:36:00+00,2015-02-07 12:29:00+00
17,14395,NaN,NaN,1,1981.0,18620,500,72,367,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-04 09:05:00+00,2015-02-04 08:59:00+00
18,19984,NaN,NaN,1,1981.0,20119,450,72,373,Subscriber,W 49 St & 8 Ave,W 52 St & 11 Ave,-73.987882,40.762272,-73.993929,40.767272,2015-02-04 19:22:00+00,2015-02-04 19:16:00+00
19,8726,NaN,NaN,1,1981.0,20988,500,72,375,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 09:21:00+00,2015-02-03 09:15:00+00
20,25842,NaN,NaN,2,1972.0,16310,500,72,377,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 13:01:00+00,2015-02-05 12:55:00+00
21,26155,NaN,NaN,1,1978.0,18287,514,72,377,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-05 13:52:00+00,2015-02-05 13:46:00+00
22,25587,NaN,NaN,1,1973.0,18991,500,72,379,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 12:21:00+00,2015-02-05 12:15:00+00
23,24156,NaN,NaN,1,1981.0,20600,500,72,380,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-05 09:21:00+00,2015-02-05 09:14:00+00
24,27104,NaN,NaN,1,1973.0,15927,479,72,386,Subscriber,9 Ave & W 45 St,W 52 St & 11 Ave,-73.991255,40.760193,-73.993929,40.767272,2015-02-05 16:06:00+00,2015-02-05 16:00:00+00
25,3957,NaN,NaN,1,1991.0,15282,514,72,387,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-01 16:03:00+00,2015-02-01 15:57:00+00
26,9194,NaN,NaN,1,1980.0,17196,500,72,388,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-03 11:30:00+00,2015-02-03 11:23:00+00
27,31639,NaN,NaN,1,1978.0,16405,529,72,388,Subscriber,W 42 St & 8 Ave,W 52 St & 11 Ave,-73.990985,40.757570,-73.993929,40.767272,2015-02-06 08:00:00+00,2015-02-06 07:53:00+00
28,38564,NaN,NaN,1,1974.0,19771,500,72,396,Subscriber,Broadway & W 51 St,W 52 St & 11 Ave,-73.983362,40.762288,-73.993929,40.767272,2015-02-06 20:01:00+00,2015-02-06 19:55:00+00
29,33221,NaN,NaN,2,1986.0,17972,2021,72,396,Subscriber,W 45 St & 8 Ave,W 52 St & 11 Ave,-73.988597,40.759291,-73.993929,40.767272,2015-02-06 10:06:00+00,2015-02-06 09:59:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46121,31410,NaN,NaN,1,1958.0,17595,388,3002,1221,Subscriber,W 26 St & 10 Ave,South End Ave & Liberty St,-74.002950,40.749718,-74.015756,40.711512,2015-02-06 07:54:00+00,2015-02-06 07:33:00+00
46122,22533,NaN,NaN,1,1962.0,15178,434,3002,1240,Subscriber,9 Ave & W 18 St,South End Ave & Liberty St,-74.003664,40.743174,-74.015756,40.711512,2015-02-05 07:58:00+00,2015-02-05 07:37:00+00
46123,1333,NaN,NaN,0,NaN,18288,360,3002,1243,Customer,William St & Pine St,South End Ave & Liberty St,-74.008873,40.707179,-74.015756,40.711512,2015-02-01 11:48:00+00,2015-02-01 11:27:00+00
46124,23807,NaN,NaN,1,1974.0,16147,496,3002,1244,Subscriber,E 16 St & 5 Ave,South End Ave & Liberty St,-73.992390,40.737262,-74.015756,40.711512,2015-02-05 09:16:00+00,2015-02-05 08:55:00+00
46125,27637,NaN,NaN,1,1973.0,17061,521,3002,1285,Subscriber,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-05 17:20:00+00,2015-02-05 16:59:00+00
46126,22399,NaN,NaN,1,1991.0,17198,459,3002,1312,Subscriber,W 20 St & 11 Ave,South End Ave & Liberty St,-74.007756,40.746745,-74.015756,40.711512,2015-02-05 07:48:00+00,2015-02-05 07:26:00+00
46127,24714,NaN,NaN,1,1958.0,20872,388,3002,1313,Subscriber,W 26 St & 10 Ave,South End Ave & Liberty St,-74.002950,40.749718,-74.015756,40.711512,2015-02-05 10:21:00+00,2015-02-05 10:00:00+00
46128,41541,NaN,NaN,1,1955.0,15495,168,3002,1332,Subscriber,W 18 St & 6 Ave,South End Ave & Liberty St,-73.994564,40.739713,-74.015756,40.711512,2015-02-07 13:02:00+00,2015-02-07 12:40:00+00
46129,43007,NaN,NaN,1,1966.0,20780,382,3002,1417,Subscriber,University Pl & E 14 St,South End Ave & Liberty St,-73.992005,40.734927,-74.015756,40.711512,2015-02-07 15:59:00+00,2015-02-07 15:35:00+00
46130,35349,NaN,NaN,1,1956.0,17077,334,3002,1445,Subscriber,W 20 St & 7 Ave,South End Ave & Liberty St,-73.997262,40.742388,-74.015756,40.711512,2015-02-06 16:02:00+00,2015-02-06 15:38:00+00
46131,20877,NaN,NaN,1,1986.0,20268,438,3002,1460,Subscriber,St Marks Pl & 1 Ave,South End Ave & Liberty St,-73.985649,40.727791,-74.015756,40.711512,2015-02-04 21:20:00+00,2015-02-04 20:56:00+00
46132,39913,NaN,NaN,1,1954.0,15586,514,3002,1485,Subscriber,12 Ave & W 40 St,South End Ave & Liberty St,-74.002777,40.760875,-74.015756,40.711512,2015-02-07 08:52:00+00,2015-02-07 08:27:00+00
46133,38954,NaN,NaN,1,1986.0,19331,438,3002,1521,Subscriber,St Marks Pl & 1 Ave,South End Ave & Liberty St,-73.985649,40.727791,-74.015756,40.711512,2015-02-06 21:36:00+00,2015-02-06 21:11:00+00
46134,30026,NaN,NaN,1,1949.0,15627,375,3002,1606,Subscriber,Mercer St & Bleecker St,South End Ave & Liberty St,-73.996951,40.726795,-74.015756,40.711512,2015-02-05 20:29:00+00,2015-02-05 20:02:00+00
46135,14538,NaN,NaN,1,1959.0,17488,494,3002,1626,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-04 09:39:00+00,2015-02-04 09:11:00+00
46136,2368,NaN,NaN,0,NaN,16918,478,3002,1666,Customer,11 Ave & W 41 St,South End Ave & Liberty St,-73.998842,40.760301,-74.015756,40.711512,2015-02-01 13:46:00+00,2015-02-01 13:18:00+00
46137,24145,NaN,NaN,1,1959.0,15102,494,3002,1716,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-05 09:43:00+00,2015-02-05 09:14:00+00
46138,32820,NaN,NaN,1,1959.0,15403,521,3002,1717,Subscriber,8 Ave & W 31 St,South End Ave & Liberty St,-73.994811,40.750450,-74.015756,40.711512,2015-02-06 09:48:00+00,2015-02-06 09:19:00+00
46139,35576,NaN,NaN,1,1969.0,21158,318,3002,1776,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-06 16:32:00+00,2015-02-06 16:02:00+00
46140,24214,NaN,NaN,1,1981.0,16496,449,3002,1823,Subscriber,W 52 St & 9 Ave,South End Ave & Liberty St,-73.987895,40.764618,-74.015756,40.711512,2015-02-05 09:50:00+00,2015-02-05 09:20:00+00
46141,17590,NaN,NaN,1,1969.0,20246,318,3002,1830,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-04 17:04:00+00,2015-02-04 16:33:00+00
46142,1228,NaN,NaN,0,NaN,17849,525,3002,1900,Customer,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
46143,11587,NaN,NaN,1,1996.0,19133,279,3002,1908,Subscriber,Peck Slip & Front St,South End Ave & Liberty St,-74.001670,40.707873,-74.015756,40.711512,2015-02-03 19:26:00+00,2015-02-03 18:54:00+00
46144,44703,NaN,NaN,2,1964.0,15443,410,3002,1920,Subscriber,Suffolk St & Stanton St,South End Ave & Liberty St,-73.985180,40.720664,-74.015756,40.711512,2015-02-07 19:08:00+00,2015-02-07 18:36:00+00
46145,6781,NaN,NaN,1,1959.0,19665,494,3002,1976,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
46146,27203,NaN,NaN,1,1969.0,20069,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-05 16:44:00+00,2015-02-05 16:11:00+00
46147,10173,NaN,NaN,1,1969.0,15309,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-03 16:37:00+00,2015-02-03 16:04:00+00
46148,23529,NaN,NaN,1,1985.0,21473,359,3002,2131,Subscriber,E 47 St & Park Ave,South End Ave & Liberty St,-73.974987,40.755103,-74.015756,40.711512,2015-02-05 09:17:00+00,2015-02-05 08:42:00+00
46149,8831,NaN,NaN,1,1958.0,15552,510,3002,2139,Subscriber,W 51 St & 6 Ave,South End Ave & Liberty St,-73.980420,40.760660,-74.015756,40.711512,2015-02-03 10:09:00+00,2015-02-03 09:33:00+00
46150,1506,NaN,NaN,0,NaN,21202,499,3002,7225,Customer,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00

In [5]:
### Retrieving the top 10 rows of data and sorting it by start station id and tripduartion. Also data is only for 
### dripduration <= 3 hours
sql_1_2_1='''
SELECT * FROM citibike
where tripduration <= 10800 order by start_station_id asc, tripduration asc
LIMIT 10
'''

queryCartoDB(sql_1_2_1)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,8998,NaN,NaN,2,1980,19039,72,72,107,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-03 10:12:00+00,2015-02-03 10:10:00+00
1,40759,NaN,NaN,2,1959,18131,72,72,189,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:43:00+00,2015-02-07 10:40:00+00
2,40757,NaN,NaN,1,1995,19729,72,72,229,Subscriber,W 52 St & 11 Ave,W 52 St & 11 Ave,-73.993929,40.767272,-73.993929,40.767272,2015-02-07 10:44:00+00,2015-02-07 10:40:00+00
3,21948,NaN,NaN,1,1970,16879,478,72,248,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-05 06:24:00+00,2015-02-05 06:19:00+00
4,43099,NaN,NaN,1,1983,15277,515,72,252,Subscriber,W 43 St & 10 Ave,W 52 St & 11 Ave,-73.994618,40.760094,-73.993929,40.767272,2015-02-07 15:47:00+00,2015-02-07 15:43:00+00
5,32566,NaN,NaN,1,1971,18492,478,72,261,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-06 09:02:00+00,2015-02-06 08:58:00+00
6,15971,NaN,NaN,1,1961,19216,478,72,276,Subscriber,11 Ave & W 41 St,W 52 St & 11 Ave,-73.998842,40.760301,-73.993929,40.767272,2015-02-04 12:51:00+00,2015-02-04 12:46:00+00
7,41355,NaN,NaN,1,1974,21588,447,72,283,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-07 12:15:00+00,2015-02-07 12:10:00+00
8,42074,NaN,NaN,1,1978,19124,514,72,288,Subscriber,12 Ave & W 40 St,W 52 St & 11 Ave,-74.002777,40.760875,-73.993929,40.767272,2015-02-07 13:54:00+00,2015-02-07 13:50:00+00
9,2282,NaN,NaN,1,1974,18174,447,72,301,Subscriber,8 Ave & W 52 St,W 52 St & 11 Ave,-73.985162,40.763707,-73.993929,40.767272,2015-02-01 13:13:00+00,2015-02-01 13:08:00+00

In [6]:
### Retrieving the last 10 rows of data and sorting descending by start station id and tripduartion. Also data is only for 
### dripduration <= 3 hours
sql_1_2_2='''
SELECT * FROM citibike
where tripduration <= 10800 order by start_station_id desc, tripduration desc
LIMIT 10
'''

queryCartoDB(sql_1_2_2)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,1506,NaN,NaN,0,NaN,21202,499,3002,7225,Customer,Broadway & W 60 St,South End Ave & Liberty St,-73.981918,40.769155,-74.015756,40.711512,2015-02-01 13:47:00+00,2015-02-01 11:46:00+00
1,8831,NaN,NaN,1,1958.0,15552,510,3002,2139,Subscriber,W 51 St & 6 Ave,South End Ave & Liberty St,-73.980420,40.760660,-74.015756,40.711512,2015-02-03 10:09:00+00,2015-02-03 09:33:00+00
2,23529,NaN,NaN,1,1985.0,21473,359,3002,2131,Subscriber,E 47 St & Park Ave,South End Ave & Liberty St,-73.974987,40.755103,-74.015756,40.711512,2015-02-05 09:17:00+00,2015-02-05 08:42:00+00
3,10173,NaN,NaN,1,1969.0,15309,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-03 16:37:00+00,2015-02-03 16:04:00+00
4,27203,NaN,NaN,1,1969.0,20069,318,3002,1977,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-05 16:44:00+00,2015-02-05 16:11:00+00
5,6781,NaN,NaN,1,1959.0,19665,494,3002,1976,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
6,44703,NaN,NaN,2,1964.0,15443,410,3002,1920,Subscriber,Suffolk St & Stanton St,South End Ave & Liberty St,-73.985180,40.720664,-74.015756,40.711512,2015-02-07 19:08:00+00,2015-02-07 18:36:00+00
7,11587,NaN,NaN,1,1996.0,19133,279,3002,1908,Subscriber,Peck Slip & Front St,South End Ave & Liberty St,-74.001670,40.707873,-74.015756,40.711512,2015-02-03 19:26:00+00,2015-02-03 18:54:00+00
8,1228,NaN,NaN,0,NaN,17849,525,3002,1900,Customer,W 34 St & 11 Ave,South End Ave & Liberty St,-74.002116,40.755942,-74.015756,40.711512,2015-02-01 11:45:00+00,2015-02-01 11:14:00+00
9,17590,NaN,NaN,1,1969.0,20246,318,3002,1830,Subscriber,E 43 St & Vanderbilt Ave,South End Ave & Liberty St,-73.977987,40.753202,-74.015756,40.711512,2015-02-04 17:04:00+00,2015-02-04 16:33:00+00

In [7]:
### selecting all unique start_station_id 
sql_1_3='''
select distinct(start_station_id) as distinct_station_id from citibike
LIMIT 10
'''

queryCartoDB(sql_1_3)

   distinct_station_id  Unnamed: 1
0                  195         NaN
1                  251         NaN
2                  285         NaN
3                  120         NaN
4                  483         NaN
5                  264         NaN
6                  497         NaN
7                  305         NaN
8                  318         NaN
9                  312         NaN

In [8]:
### Aggregation functions:
### - Count the number of trips (aka wc -l in SQL)
### - Find the average/min/max trip duration

sql_1_4='''
SELECT distinct start_station_id, 
count(start_station_id) AS tripcount,
avg(tripduration) AS tripavg,
min(tripduration) AS tripmin,
max(tripduration) AS tripmax
FROM citibike
WHERE tripduration <= 10800
GROUP BY start_station_id
ORDER BY start_station_id ASC, tripavg ASC
LIMIT 10

'''

queryCartoDB(sql_1_4)

   start_station_id  tripcount      tripavg  tripmin  tripmax
0                72        114   742.701754      107     2099
1                79         71   659.140845      149     1916
2                82         49   445.346939      138     1581
3                83         35   783.685714       73     2647
4               116        288   543.965278       66     2081
5               119         19  1044.789474      278     2167
6               120         17   979.882353      270     2131
7               127        209   710.846890       83     5776
8               128        247   664.206478       62     2875
9               137         96   697.364583       85     2316

## Task 2

• Selecting trips started on Feb-02-2015 only

• Selecting trips started on the weekends
    - What are average trip duration during weekends?
    
• Can we do the same for weekday?

In [9]:
### Selecting trips started on Feb-02-2015 only

sql_2_1='''
SELECT * FROM citibike
where starttime >= '2015-02-02 00:00'
and starttime < '2015-02-03 00:00'
LIMIT 10
'''
queryCartoDB(sql_2_1)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,6442,NaN,NaN,1,1992,20684,489,442,199,Subscriber,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,6443,NaN,NaN,2,1964,16094,349,326,418,Subscriber,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,6444,NaN,NaN,1,1974,17362,415,279,276,Subscriber,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,6445,NaN,NaN,2,1992,15475,237,496,420,Subscriber,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,6446,NaN,NaN,1,1968,16272,450,477,304,Subscriber,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,6447,NaN,NaN,1,1979,16370,391,467,622,Subscriber,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,6448,NaN,NaN,1,1963,19437,482,434,371,Subscriber,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,6449,NaN,NaN,1,1982,21211,2008,330,477,Subscriber,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,6450,NaN,NaN,2,1978,21417,423,521,743,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,6451,NaN,NaN,1,1956,15722,453,504,599,Subscriber,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00

In [10]:
### Selecting trips started on the weekends
sql_2_2_1='''
SELECT * FROM citibike
where extract(DOW FROM starttime) IN (0,6)
LIMIT 10
'''

queryCartoDB(sql_2_2_1)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,1,NaN,NaN,2,1978,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
2,2,NaN,NaN,1,1993,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
3,3,NaN,NaN,2,1969,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
4,4,NaN,NaN,2,1985,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
5,5,NaN,NaN,1,1957,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
6,6,NaN,NaN,1,1979,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
7,7,NaN,NaN,1,1983,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
8,8,NaN,NaN,1,1955,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
9,9,NaN,NaN,2,1985,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00

In [11]:
### Selecting trips started on the weekends
### - What are average trip duration during weekends?

sql_2_2_2='''
SELECT start_station_id, starttime,usertype,gender,avg(tripduration) as tripavg FROM citibike
where extract(DOW FROM starttime) IN (0,6) 
group by start_station_id, starttime, usertype, gender
LIMIT 10
'''
queryCartoDB(sql_2_2_2)

   start_station_id               starttime    usertype  gender  tripavg
0               336  2015-02-07 18:07:00+00  Subscriber       2    636.0
1               270  2015-02-01 11:35:00+00  Subscriber       1    387.0
2               161  2015-02-07 10:36:00+00  Subscriber       1    337.0
3               379  2015-02-01 13:52:00+00  Subscriber       1    408.0
4               271  2015-02-07 11:59:00+00  Subscriber       1    461.0
5               318  2015-02-07 06:45:00+00  Subscriber       1    426.0
6               488  2015-02-07 20:02:00+00  Subscriber       1   2053.0
7               262  2015-02-01 15:18:00+00  Subscriber       1    620.0
8               116  2015-02-07 19:28:00+00  Subscriber       1   1176.0
9               475  2015-02-07 21:48:00+00  Subscriber       1    391.0

In [12]:
### Selecting trips started on the weekends
### - What are average trip duration during weekdays?

sql_2_3='''
SELECT start_station_id, starttime,usertype, gender, avg(tripduration) as tripavg FROM citibike
where extract(DOW FROM starttime) NOT IN (0,6) 
group by start_station_id, starttime,usertype, gender
LIMIT 10
'''
queryCartoDB(sql_2_3)

   start_station_id               starttime    usertype  gender  tripavg
0               415  2015-02-03 19:11:00+00  Subscriber       1    585.0
1               445  2015-02-03 12:14:00+00  Subscriber       2    299.0
2               383  2015-02-04 06:34:00+00  Subscriber       1    395.0
3               116  2015-02-04 19:07:00+00  Subscriber       1    648.0
4               498  2015-02-06 09:35:00+00  Subscriber       1    121.0
5               348  2015-02-06 13:47:00+00  Subscriber       1    469.0
6               229  2015-02-05 13:28:00+00  Subscriber       2    226.0
7               537  2015-02-02 16:05:00+00  Subscriber       1   1539.0
8               518  2015-02-05 20:26:00+00  Subscriber       1    632.0
9               487  2015-02-06 07:45:00+00  Subscriber       1    253.0

## Task 3

• Showing the list of start station locations
    - Using GROUP BY
    
• Showing the number of trips started per station

• … but only for stations within 500m of Time Square!
- The coordinates of Time Square is (40.7577,-73.9857)

In [13]:
### Showing the list of start station locations
### - Using GROUP BY

sql_3_1='''SELECT
 CDB_TransformToWebmercator(CDB_LatLng(
 start_station_latitude,
 start_station_longitude
 )
 ) as the_geom_webmercator,
 MIN(cartodb_id) as cartodb_id
FROM citibike
GROUP BY
 start_station_latitude,
 start_station_longitude
 LIMIT 10
 '''

queryCartoDB(sql_3_1)

                                the_geom_webmercator  cartodb_id
0  0101000020110F0000863F88A4096A5FC19D1DAFD5DFF1...          84
1  0101000020110F0000BB2EC9F82D6A5FC19150E1B461FB...         412
2  0101000020110F0000D62721D3CA6D5FC157A5D529F6F5...         516
3  0101000020110F000060197671C96C5FC197A854AF46FA...         359
4  0101000020110F0000993A68067B6C5FC1B222DA492BFA...          78
5  0101000020110F00004FF9F3E90D6D5FC1F284479FC8F9...        1019
6  0101000020110F00003816CC930D6B5FC17B393D28A0F9...         110
7  0101000020110F00006B6C9CBF186A5FC109C57CA0D8FC...           7
8  0101000020110F00008B8D725EB16B5FC1BF41718A0DF6...         460
9  0101000020110F0000BA97F1D5D36C5FC13D326BC3E4F5...         799

In [14]:
### Showing the number of trips started per station
sql_3_2='''
SELECT
 start_station_id,
 CDB_TransformToWebmercator(CDB_LatLng(
 start_station_latitude,
 start_station_longitude
 )
 ) as the_geom_webmercator,
 MIN(cartodb_id) as cartodb_id,
 COUNT(tripduration) as numtrips
FROM citibike
GROUP BY
 start_station_id,
 start_station_latitude,
 start_station_longitude
 LIMIT 10
'''

queryCartoDB(sql_3_2)

,start_station_id,the_geom_webmercator,cartodb_id,numtrips
0,438,0101000020110F0000B77CA834036B5FC19EF5005EBCF7...,79,156
1,342,0101000020110F0000BEA7E6966A6A5FC1E90E1AC83EF6...,609,78
2,242,0101000020110F0000E097312EB1695FC111C4474A72F3...,454,46
3,161,0101000020110F00009B8267C45D6C5FC1577C6302EFF7...,185,203
4,373,0101000020110F0000C12D0F658D675FC1323CC0ADCAF2...,6,27
5,168,0101000020110F000071CD414CFB6B5FC149C2933772F9...,49,327
6,502,0101000020110F00002877F4708B6A5FC1ED3B00D9C9F5...,289,151
7,421,0101000020110F00000C641AC573695FC10D6A916323F3...,238,37
8,511,0101000020110F000049C345A6266A5FC17E86BFF6F6F7...,69,279
9,422,0101000020110F0000CECBC1AD456B5FC149916BC5DDFD...,1386,100

In [15]:
###Showing the number of trips started per station
###• … but only for stations within 500m of Time Square!
###The coordinates of Time Square is (40.7577,-73.9857)

sql_3_3='''
SELECT
 start_station_id,
 CDB_TransformToWebmercator(CDB_LatLng(
 start_station_latitude,
 start_station_longitude
 )
 ) as the_geom_webmercator,
 MIN(cartodb_id) as cartodb_id,
 COUNT(tripduration) as numtrips
FROM citibike
WHERE
ST_DWithin(CDB_LatLng(
 start_station_latitude,
 start_station_longitude
 )::geography,
 CDB_LatLng(40.7577,-73.9857)::geography,
 500)
GROUP BY
 start_station_id,
 start_station_latitude,
 start_station_longitude
 LIMIT 10
'''

queryCartoDB(sql_3_3)

,start_station_id,the_geom_webmercator,cartodb_id,numtrips
0,477,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,507
1,2021,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,141
2,465,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,251
3,493,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,141
4,524,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,112
5,529,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,221
6,173,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,213